server:
  port: 8000

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: order-service
              uri: http://localhost:8081
              predicates:
                - Path=/orders/**
            - id: customer-service
              uri: http://localhost:8082
              predicates:
                - Path=/customers/**
