server:
  port: 0

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    generate-ddl: true

jwt:
  secret: your-256-bit-secret-key-here-must-be-at-least-32-characters-long # HMAC-SHA256 사용 시 최소 256비트(32바이트) 이상 필요
  access-token-expiration: 1h
  refresh-token-expiration: 14d
  issuer: user-service

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
