server:
  port: 8000

spring:
  application:
    name: api-gateway-reactive
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: order-service
              uri: http://localhost:8081
              predicates:
                - Path=/orders/**
            - id: customer-service
              uri: http://localhost:8082
              predicates:
                - Path=/customers/**

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
